body {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 100%;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  background-color: #34495e;
}
#wrapper {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 995px;
}
#wrapper h1 {
  margin-top: 50px;
  font-size: 45px;
  color: #fdf2e9;
}
#wrapper h1 p {
  font-size: 18px;
}
#text_div input[type="text"] {
  width: 300px;
  height: 35px;
  padding: 10px;
}
#text_div input[type="submit"] {
  width: 100px;
  height: 35px;
  margin-top: 5px;
  background: none;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}
#text_div img {
  width: 200px;
}
